@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 110vh;
    background-image: url('/lista_tarefas/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    background-color:#0099ff;
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

input {
    border-style: groove;
    border-radius: 5px;
}

input, :placeholder-shown {
    text-align: center;
    font-size: 15px;
}

button {
    padding: 8px;
    border-radius: 10px;
}

#buttonEntrar {
    background-color: rgb(9, 232, 9);
    font-weight: bold;
}

#buttonRegistrar {
    background-color: rgb(252, 56, 56);
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
