@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/lista_tarefas/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#registrador {
    background-color:#0099ff;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 5px;
}

h1 {
    font-style: oblique;
    text-decoration: underline;
    margin-bottom: 20px;
}

input {
    border-style: groove;
    border-radius: 5px;
}

input, :placeholder-shown {
    text-align: center;
    font-size: 15px;
}

#registrarButton {
    text-align: center;
    margin-top:20px;
    background-color: rgb(9, 232, 9);
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: red;
}

a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
